
<div class="sidebar-container">
  <div class="logo">
    <p>Manager <span style="color: #4F46E5;">Pro</span> </p>
  </div>
  <nav>
    <ul>
<nav class="nav-section">
    <ul class="menu-list">
      <li class="menu-item active">
        <i class='bx bx-home-alt-2 icon'></i> 
        <span>Dashboard</span>
      </li>
      <li class="menu-item">
        <i class='bx bx-cart icon'></i>
        <span>Orders</span>
      </li>
      <li class="menu-item">
        <i class='bx bx-group icon'></i>
        <span>Users</span>
      </li>
      <li class="menu-item">
        <i class='bx bx-store icon'></i>
        <span>Items</span>
      </li>
      <li class="menu-item">
        <i class='bx bx-receipt icon'></i>
        <span>Transactions</span>
      </li>
      <li class="menu-item">
        <i class='bx bx-bar-chart-alt-2 icon'></i>
        <span>Reports</span>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="menu-list">
      <li class="menu-item">
        <i class='bx bx-message-rounded-dots icon'></i>
        <span>Messages</span>
        <span class="badge"></span>
      </li>
      <li class="menu-item">
        <i class='bx bx-support icon'></i>
        <span>Support</span>
      </li>
      <li class="menu-item last-li">
        <i class='bx bx-cog icon'></i>
        <span>Settings</span>
      </li>
    </ul>
  </nav>
