
<div class="navbar-wrapper">
  <div class="search-box">
    <i class='bx bx-search search-icon'></i>
    <input type="text" placeholder="Search" (input)="onSearch($event)">
  </div>

  <div class="right-section">
    <div class="notifications">
      <i class='bx bx-bell'></i>
      <span class="notification-dot"></span>
    </div>

<div class="user-profile">
  <span class="username">{{ username }}</span>
  <div class="avatar-container">
    <img [src]="userAvatar" alt="User Profile" class="avatar-img">
    <img src="../../../assets/avatar.jpg" class="avatar-img" alt="user-profile">
  </div>
</div>

      </div>
  </div>

